.user-input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;

    &__text {
        border-radius: 1rem;
        padding: 0.5rem;
        background-color: rgb(176, 175, 175);
        color: black;
        margin-right: 0.5rem;
    }

    &__btn {
        border-radius: 100%;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        transition: ease-in-out 0.5s;

        &:hover {
            background-color: gray;
        }
    }
}